@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* breadcrumb */
ul.breadcrumb-list {
    display: flex;
    padding: 10px 16px;
    list-style: none;
    background-color: #e7e7e7;
    list-style-type:none;
  }
ul.breadcrumb-list li {
    display: inline;
    font-size: 18px;
  }
ul.breadcrumb-list li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
ul.breadcrumb-list li a {
    font-size: 16px;
    column-gap: 52px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
ul.breadcrumb-list li a:hover {
    color: #01447e;
  }